extends layout

block content
  div(style="width:30%; text-align:center; margin: 4rem auto;")
    div.jumbotron
      div
        h2 Sign Up
        if messages.error
          span(style="color:red; font-size:1rem") #{messages.error}
      form(action="/signup", method="POST")
       div.form-group
         div 
           label.m-1 User Name:
           input(type="text", required, name="username").form_control.m-1
         div
           label.m-1 Password:&nbsp;&nbsp;
           input(type="password", required, name="password").form_control.m-1
         button(type="submit").btn.btn-success.m-2 Sign Up
         a(href="/").btn.btn-secondary Cancel